.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 24px;
}

.logo {
  width: 61px;
}

.logo a {
  height: 100%;
}

.rights {
  color: var(--dark-sea);
  font-size: 12px;
  line-height: 15px;
}

.rights a {
  color: var(--violet);
}

.rights a:hover {
  color: var(--white);
}

.socials {
  display: flex;
  gap: 15px;
}

.socials svg {
  width: 24px;
  height: 24px;
  fill: var(--dark-sea);
  transition: all .3s ease;
}

.socials svg:hover {
  fill: var(--violet);
}

@media screen and (max-width: 575px) {
  .footer {
    flex-direction: column;
    gap: 20px;
  }
}